<template name="not-found">
    <!-- Error Content -->
    <div class="content bg-white text-center pulldown overflow-hidden">
        <div class="row">
            <div class="col-sm-6 col-sm-offset-3">
                <!-- Error Titles -->
                <h1 class="font-s128 font-w300 text-city animated flipInX">404</h1>
                <h2 class="h3 font-w300 push-50 animated fadeInUp">We are sorry but the page you are looking for was not found..</h2>
                <!-- END Error Titles -->

                <h2 class="h3 font-w300 push-50 animated fadeInUp">But, You can always start from <a href="/">home</a></h2>
                <!-- END Search Form -->
            </div>
        </div>
    </div>
</template>