<template name="user">
    <div class="content overflow-hidden">
        <div class="row">
            <div class="col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3 col-lg-4 col-lg-offset-4">
                <div class="block block-themed animated fadeIn">
                    <div class="block-header bg-primary">
                        <ul class="block-options">
                            <li>
                                <a class="logout">Logout <i class="si si-logout"></i></a>
                            </li>
                        </ul>
                        <h3 class="block-title">Dashboard</h3>
                    </div>
                    <div class="block-content block-content-full block-content-narrow">
                        <h1 class="h2 font-w600 push-30-t push-5">Hi, {{user.username}}</h1>
                        <p>Welcome to the awesome app.</p>
                        
                        
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="push-10-t text-center animated fadeInUp">
        <small class="text-muted font-w600"><span class="js-year-copy"></span> &copy; OneUI 3.0</small>
    </div>

</template>
    
