<template name="App_body">
    {{> Template.dynamic template=main}}
    <!-- <script src="/js/core/jquery.min.js"></script> -->
    <script src="/js/core/bootstrap.min.js"></script>
    <script src="/js/core/jquery.slimscroll.min.js"></script>
    <script src="/js/core/jquery.scrollLock.min.js"></script>
    <script src="/js/core/jquery.appear.min.js"></script>
    <script src="/js/core/jquery.countTo.min.js"></script>
    <script src="/js/core/jquery.placeholder.min.js"></script>
    <script src="/js/core/js.cookie.min.js"></script>
    <script src="/js/app.js"></script>
</template>